Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
str1 = "hello world "
print(type(str1))

<class 'str'>

In [2]:
lst1 = [1,2,3,"name","place","age"]
print(type(lst1))

<class 'list'>

In [3]:
flt = 5.20
print(type(flt))

<class 'float'>

In [4]:
tup = (1,2,3,"name","place","age")
print(type(tup))

<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) = String
(ii) = String
(iii) = List
(iv) = Integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [8]:
# / is use for division
# % modulus output the remainder
# // Floor Division
# ** Exponential ratio
A = 10
B = 2
print(A/B)
print(A%B)
print(A//B)
print(A**B)

5.0
0
5
100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
lst1 = [1,2,3,"gaurav","pune",5,"student","python","new",23]

for i in lst1 :
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
gaurav <class 'str'>
pune <class 'str'>
5 <class 'int'>
student <class 'str'>
python <class 'str'>
new <class 'str'>
23 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [32]:
A = int(input("Enter the 1st number"))
B = int(input("Enter the 2nd number"))
i = 0
while A%B == 0  :
    A/=B
    i += 1
if i>0:
    print (f"A is divisible by B and {i} time")
else :
    print("A is not divisible by B")

Enter the 1st number 25
Enter the 2nd number 5

A is divisible by B and 2 time

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [27]:
A = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in A:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer : in simple words, Mutable are the things which can change for example "List"
Immutable are the things which cannt be change for example "String" "Tuple"

In [28]:
#IMMUTABLE
A = "GAURAV"
A[0] = "R"
print(A)

TypeError: 'str' object does not support item assignment

In [29]:
#MUTABLE
A = ["GAURAV" , "32" , "AGE" , "PLACE"]
A[0] = "ROHIT"
print(A)

['ROHIT', '32', 'AGE', 'PLACE']